<% provide(:title, "Log in") %>
<div class="container">
<h1 style="text-align: center;">Log in</h1>

<% if flash[:danger] %>
  <div class="danger"><%= flash[:danger] %></div>
<% end %>


<div class="jumbotron" style="width:60%;margin: auto;">
  <!-- <div class="col-md-6 col-md-offset-3"> -->
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :user_id, "Student Number" %>
      <%= f.text_field :user_id, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br />
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

  <!-- </div> -->
  </div>
</div>