<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<% if logged_in? %>
   <% if current_user.user_id != 'admin' %>
      <button class="btn btn-primary"> <%= link_to "Upload Document", new_document_path %> </button>
   <% end %>
<% end %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>File Name</th>
         <th>Number of Pages to be printed</th>
         <th>Size
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @documents.each do |docu| %>
         <tr>
            <td><%= docu.file_name %></td>
            <td><%= docu.number_of_pages %></td>

         <% if logged_in? %>
            <% if current_user.user_id == 'admin' %>
            <td><%= button_to "Print" %></td>
            <% end %>

            <% if current_user.id == docu.users_id || current_user.user_id == 'admin' %>
            <td><%= button_to "Delete",  docu, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{docu.file_name}?" %></td>
            <% end %>
         <% end %>
         </tr>
         
      <% end %>
   </tbody>
</table>

<%= link_to 'Back', user_dashboard_path, class: 'btn btn-info' %>