<% if !@document.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @document.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

<%= form_for @document, html: { multipart: true } do |f| %>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#uploadModal"> Upload a file </button>

<div class="panel-info">
   <div class="panel-heading">General Specifications</div>
   <div class="panel-body">
      <div class="input-group col-xs-4">
         <span class="input-group-addon">Document type </span>
         <%= f.text_field :document_type %>
      </div>
      <div class="input-group col-xs-4">
         <span class="input-group-addon">Number of copies </span>
         <%= f.text_field :number_of_copies %>
      </div>
      <div class="input-group col-xs-4">
         <span class="input-group-addon">Page range</span>
         <%= f.text_field :page_range %>
      </div>
      <div>
         <div class="input-group col-xs-4">
          <span class="input-group-addon">Paper Size</span>
          <%= f.text_field :size %>
         </div>
         <div class="input-group col-xs-4">
          <span class="input-group-addon">Orientation</span>
          <%= f.text_field :orientation %>
         </div>
         <div class="input-group col-xs-4">
          <span class="input-group-addon">Paper color(Colored or Grayscale)</span>
          <%= f.text_field :color %>
         </div>
      </div>
   </div>
</div>
<div class="panel-info">
   <div class="panel-heading">Additional Specifications</div>
   <div class="panel-body">
     <h1>If PPT</h1>
      <div class="input-group col-xs-4">
      <span class="input-group-addon"> Number of slides per page </span>
        <%= f.text_field :slide_layout %>
   </div> 
   <h1>If PDF</h1>
     <div class="input-group col-xs-4">
       <span class="input-group-addon">Number of pages per paper</span>
       <%= f.text_field :pages_per_paper %>
     </div>
      <div>
      <%= f.text_area :note %>
      </div>
      <div>
      <%= f.submit "Add to Print Queue", class: "btn btn-info" %>
      </div>
   </div>
</div>

<div id="uploadModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            <h4 class="modal-title">Print Specifications</h4>
         </div>

         <div class="modal-body">
            <!-- <div class="jumbotron"> -->
               <div class="form-group">
                     <%= f.label :file_name %>
                     <%= f.text_field :file_name, class:"form-control" %>
                  
                  <div class="form-group">
                     <input type="file" name="document[attachment]" id="document_attachment" class="file" style="visibility: hidden;position: absolute;">
                     <div class="input-group col-xs-12">
                        <input type="text" class="form-control input-lg" disabled placeholder="Choose File">
                        <span class="input-group-btn">
                           <button class="browse btn btn-primary input-lg" type="button"></i> Browse</button>
                        </span>
                     </div>
                  </div>

               </div>
            <!-- </div> -->
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

<script type="text/javascript">
   $(document).on('click', '.browse', function(){
  var file = $(this).parent().parent().parent().find('.file');
  file.trigger('click');
});
$(document).on('change', '.file', function(){
  $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
});
</script>
<% end %>