<% if !logged_in? %>
  <button> <%= link_to "Log in", login_path %> </button>
<% end %>

<style type="text/css">
  .quotes {
    display: none;
  }
</style>

<table>
  <thead>
    <tr>
      <th><h1>Announcements</h1></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td>
          <h4 class="<%= 'quotes' if !is_admin? %>">
            <%= announcement.announcement %>
          </h4>
        </td>
        
      <% if logged_in? %>
        <% if is_admin? %>
          <td><%= link_to 'Show', announcement %></td>
          <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
          <td><%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
      </tr>
    <% end %>
    <!-- diri pa ini nadara na will_paginate //ajax pa huhu -->
    <%# will_paginate @announcements %>
  </tbody>
</table>

<% if logged_in? %>
  <% if is_admin? %>
  <%= link_to 'New Announcement', new_announcement_path, class: 'btn btn-info' %>
  <% end %>
<% end %>

<%# link_to 'Show All Announcements', announcements_path %>

<br />
<br />
<hr>
<br />

<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<% if logged_in? %>
  <% if !is_admin? %>
  <%= link_to "Upload Document", new_document_path, class: "btn btn-info" %>
  <br />
  <br />

  <% end %>
<% end %>

<% if !is_admin? %>
<table class = "table table-bordered table-striped info">
  <thead> <h1> My Documents </h1> 
   <tr>
     <th> File Name</th>
     <th> Amount to pay </th>
     <th> Print status </th>
     <th> Transaction status </th>
     <th> Actions </th>
   </tr>
  </thead>
   <tbody>
      <% @documents.each do |docu| %>
         <tr>
           <% if is_owner? docu.users_id %>
           <td><%= link_to docu.file_name, asset_path("#{docu.attachment}", target: "_blank") %></td>
           <td><%= docu.price %></td>
           <td><%= docu.print_status %></td>
           <td><%= docu.transaction_status %></td>
            <td><%= button_to "Delete",  docu, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{docu.file_name}?" %></td>
           <% end %>
          </tr>
      <% end %>
   </tbody>
</table> 
<% end -%>

<table class = "table table-bordered table-striped info">
   <thead> <h1> Print Queue </h1>
      <tr>
        <% if is_admin? %>
         <th> Student Number </th>
         <th> File Name</th>
         <th> Document type </th>
         <th> Number of copies </th>
         <th> Size </th>
         <th> Orientation </th>
         <th> Page range </th>
         <th> Color </th>
         <th> (PPT) Number of slides per page </th>
         <th> (PDF) Number of pages per paper </th>
         <th> Amount to pay </th>
         <th> Print status </th>
         <th> Transaction status </th>
         <th> Note </th>

         <% else %>
         <th> File Name</th>
         <th> Print status </th>
         <% end %>
      </tr>
   </thead>
   
   <tbody>
      <% @documents.each do |docu| %>
         <tr>
           <% if is_admin? %>
            <td><%= find_user docu.users_id %></td>
            <td><%= link_to docu.file_name, asset_path("#{docu.attachment}", target: "_blank") %></td>
            <td><%= docu.document_type %></td>
            <td><%= docu.number_of_copies %></td>
            <td><%= docu.size %></td>
            <td><%= docu.orientation %></td>
            <td><%= docu.page_range %></td>
            <td><%= docu.color %> </td>
            <td><%= docu.slide_layout %></td>
            <td><%= docu.pages_per_paper %></td>
            
            <%= form_for docu, html: { multipart: true } do |f| %>
            <%= f.hidden_field :option, :value => 'print' %>
            <%= f.hidden_field :print_status, :value => docu.print_status %>
            <td class="input-group col-xs-2"><%= f.number_field :price, step: :any, :value => docu.price %></td>
            <td><%= f.submit :value => docu.print_status, class: "btn btn-primary" %></td>
            <% end %>

            <%= form_for docu, html: { multipart: true } do |f| %>
            <%= f.hidden_field :docu_id, :value => docu.id %>
            <%= f.hidden_field :option, :value => 'transaction' %>
            <%= f.hidden_field :transaction_status, :value => docu.transaction_status %>
            <td><%= f.submit :value => docu.transaction_status, class: "btn btn-primary" %></td>
            <td><%= docu.note %></td>
            <% end %>

           <% else %>
            <td><%= docu.file_name %></td>
            <td><%= docu.print_status %></td>
           <% end %>
         </tr>
      <% end %>
   </tbody>
</table>

<script type="text/javascript">
  (function() {

    var quotes = $(".quotes");
    var quoteIndex = -1;
    
    function showNextQuote() {
        ++quoteIndex;
        quotes.eq(quoteIndex % quotes.length)
            .fadeIn(2000)
            .delay(2000)
            .fadeOut(2000, showNextQuote);
    }
    
    showNextQuote();
    
})();
</script>

<%# link_to 'Show All Files', documents_path %>
