<!DOCTYPE html>
<html>
<head>
  <title>TlrcWebX</title>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="/assets/application.js" type="text/javascript"></script>
  <%= yield :head %>
</head>
<body>

  <% if logged_in? %>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #d9edf7;border: none;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand"> Hello, <%= current_user.user_id =%> </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if !is_admin? %>
          <li class="navbar-text">Accountability: <%= current_user.accountability %></li>
          <% end %>
          <li><%= link_to "Log out", logout_path %></li>
        </ul>
      </div>
    </nav>
  <% end %>

  <div class="container" style="padding-top:100px;">
    <%= yield %>
  </div>
</body>
</html>
